services:
  frontend:
    build:
      context: .
      args:
        VITE_API_URL: "http://localhost:8000"
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    command: python server.py
    ports:
      - "8000:8000"
