services:
  frontend:
    build:
      context: .
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    command: python server.py
    ports:
      - "8000:8000"